:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
}


.main-container {
    margin-left: 190px;
    transition: all 0.3s ease-in-out;
}

.sidebar_collapsed.main-container {
    margin-left: 60px;
    transition: all 0.3s ease-in-out;
}

.menu-topbar-wrapper {
    position: fixed;
    display: block;
    flex-direction: column;
    padding: 0;
    overflow: hidden;
    z-index: 2;
    height: 300px !important;
}

.menu-topbar-wrapper.collapsed {
    height: 140px !important;
}

.el-menu-wrapper {
    position: relative;
    margin-top: 40px;
    background: transparent;
    transition-duration: 0.3s;
}

.collapsed.el-menu-wrapper {
    transition-duration: 0.3s;
    margin-top: 50px;
}

a {
    text-decoration: none;
}

.el-table {
    margin-top: 1rem;
}

/*utility classes*/
.flex {
    display: flex;
}

.content-end {
    justify-content: flex-end;
}

.items-center {
    align-items: center;
}

html.light {
    color: #213547;
    background-color: #ffffff;
}

html.light a:hover {
    color: #747bff;
}

html.dark {
    background-color: #242424
}

.dark .el-table tr {
    background-color: #242424 !important;
}

.el-table {
    border-radius: 7px 7px 0 0;
}

.el-page-header__breadcrumb {
    margin-bottom: 3px !important;
}
